# Terraform

Infrastructure/main/.terraform/
Infrastructure/main/*.tfstate
Infrastructure/main/*.tfstate.*
Infrastructure/main/.terraform.tfstate.lock.info
Infrastructure/main/crash.log
Infrastructure/main/crash.*.log
Infrastructure/main/*.tfplan

